* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: #fff;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
    padding: 28px 12%;
    transition: all .50s ease;
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    font-size: 26px;
    color: black;
    margin-right: 3px;
}

.logo span {
    color: black;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.logo img {
    width: 60px;
    height: 50px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover,
.navbar a:focus {
    color: #db8e00;
}

.navbar a.active {
    color: #db8e00;
}


.tntg{
    position: relative;
    height: 95vh; 
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('annie-spratt-QckxruozjRg-unsplash\ 1.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white; 

}

.tentang{
    display: flex; 
    justify-content: center; 
    text-align: center;
    width: 100%; 
}

.tentang h1{
    font-size: 78px;
    font-weight: 800;
    margin: 0;
}

.gmbr-bi{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.gmbr img{
    width: 700px;
    height: auto;
}

.gmbr p{
    font-size: 20px;
    font-weight: 800;
    font-family: sans-serif;
}

.container-visi{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.container-visi div
{
    height: 450px;
    width: 335px;
    margin: 60px;
    border-radius: 10px;

}

.misi{
    justify-content: center ;
    text-align: center;
}

.misi p{
    font-weight: 500;
}

.misi h2{
    font-size: 50px;
    font-weight: bold;
}

.popo{
    text-align: center;
    background-color: #F2E8D6;
}

.popo h1{
    font-size: 40px;
}

/* BAWAH */
.credit{
    text-align: center;
    justify-content: center;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    font-weight: 200;
}

.gaga{
    color: blue;
    font-weight: 700;
}

@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: #B3C8CF;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .navbar a:hover{
        color: #0051d4;
        transform: translateY(5px);
    }
    .navbar a.active{
        color: #0051d4;
    }
    .navbar.open{
        right: 2%;
    }
    
}
